body {
    margin: 0;
    padding: 4px;
    font-size: 14px;
    color: #333;
    width: 400px;
    background: url(src/assets/image/bg_off.png);
}

.wrapper {
    background: #fff;
    padding: 5px 10px;
}

.status {
    font-size: 12px;
    color: #ccc;
    padding-top: 10px;
}

.title {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.clearfix {

}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.help {
    position: relative;
    top: -3px;
    float: right;
}

